body{
	overflow-x: hidden;
	font-family: Helvetica Neue,NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,Arial,Helvetica,sans-serif;
	font-size:14px;
	margin: 0;
}
h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}
*, :after, :before{
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:none;
	background: none;
	text-decoration: none;
}
a{
	pointer-events: none;
}
.window-body .sidebar .sidebar-body .catalog-body ul li.active > .wholerow, .window-body .sidebar .sidebar-body .catalog-body ul li.active > .wholerow .actions {
	background: #e5e5e5;
	border-left:3px solid #009688;
}
.window-body .sidebar {
	position: fixed;
	left: -280px;
	top: 56px;
	bottom: 0;
	width: 280px;
	border-right: 1px solid #ddd;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
 transition: left .25s ease;
}
.window-head{
	position: fixed;
	flex: none;
	order: 1;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-bottom: 1px solid #ddd;
	z-index: 20;
}
.window-head .toolbar{
	display: flex;
	height: 55px;
	padding: 0 .8em;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.window-head .toolbar .title{
	color: #666;
	font-size: 16px;
	line-height: 55px;
	font-weight: 700;
	white-space: nowrap;
}
.window-head .toolbar .title span{
	color: #999;
}
.layui-nav{
	background-color: #fff;
	margin-right:15px;
}
.layui-nav .layui-nav-item a{
	color:#666;
	font-weight: 700;
	cursor: pointer;
	pointer-events: auto;
}
.layui-nav .layui-nav-item a:hover{
	color:#333;
}
.layui-nav .layui-nav-item{
	line-height: 55px;
}
.layui-nav .layui-nav-more{
	border-top-color:#666;
	border-width: 5px;
}
.layui-nav .layui-nav-mored,.layui-nav-itemed>a .layui-nav-more{
	margin-top:-9px;border-style:dashed dashed solid;
	border-color:transparent transparent #666
}


.window-container{
	margin-top:55px;
}
.window-container .window-body.with-sidebar .sidebar {
	left: 0;
}
.window-body .sidebar .sidebar-body {
	flex: auto;
	overflow: hidden;
	position: relative;
}
.window-body .sidebar .sidebar-body>div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.window-body .sidebar .sidebar-body .catalog-body {
	padding: 12px 0;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.window-body .sidebar .sidebar-body .catalog-body ul {
	padding-right: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.window-body .sidebar .sidebar-body .catalog-body ul li > ul {
	display: none;
}

.window-body .sidebar .sidebar-body .catalog-body ul li {
	line-height: 2.3rem;
	margin-left: 1.2rem;
	cursor: pointer;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

.window-body .sidebar .sidebar-body .catalog-body > ul > li {
	margin-left: 0;
}
.window-body .sidebar .sidebar-body .catalog-body ul li.open > ul {
	display: block;
}
.window-body .sidebar .sidebar-body .catalog-body ul li .wholerow {
	width: 100%;
	position: absolute;
	left: 0;
	height: 2.3rem;
	cursor: pointer;
}
.window-body .sidebar .sidebar-body .catalog-body ul li .wholerow:hover {
	background: #f0f0f0;
}
.window-body .sidebar .sidebar-body .catalog-body ul li i {
	position: relative;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}
.window-body .sidebar .sidebar-body .catalog-body ul li .down{
	-webkit-transition: 0.2s;
	transition: 0.2s;
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);  /*兼容-webkit-引擎浏览器*/
	-moz-transform:rotate(90deg);
}

i.icon {
	font-size: 0.1rem;
	display: inline-block;
	opacity: 1;
    margin: 0 .25rem 0 0;
	width: 1.18em;
	height: 1em;
	font-family: Icons;
	font-style: normal;
	font-weight: 400;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.window-body .sidebar .sidebar-body .catalog-body ul li .text {
	display: inline-block;
	line-height: 2.3rem;
	word-break: keep-all;
	white-space: nowrap;
	color: #666;
	vertical-align: middle;
	position: relative;
	text-decoration: none;
}


.window-body .workspace {
transition:margin-left .25s ease
}
.window-container .window-body.with-sidebar .sidebar {
	left:0
}
.window-body .workspace .article .article-head {
	padding: 10px 20px;
	height: 50px;
	display: flex;
}

.window-body .workspace .article .article-head h1 {
	flex: 1;
	margin: 0;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #7e888b;
	min-height: 1rem;
}
.window-body .workspace .article .article-head .tools {
	background: #fff;
	margin: 0 -10px;
	position: fixed;
	z-index: 20;
	cursor: pointer;
}
.window-body .workspace .article .article-head .tools > .item .btn-caidan{
	color:#999;
	font-size:15px;
}
.window-body .workspace .article .article-head .tools > .item {
	color: #7e888b;
	display: block;
	height: 30px;
	padding: 0 10px;
	text-transform: uppercase;
	line-height: 30px;
	position: relative;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
}
.window-body .workspace .article .article-head .tools > .item > .icon {
	height: auto;
	width: auto;
	color: #999;
}
.window-body .workspace .article .article-head .tools > .item.icon .icon {
	margin: 0;
}
.window-body .workspace .article .article-body {
	max-width: 980px;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 9px 24px;
	display: block;
}
.window-body .workspace .article .article-body.loadding{
	position: relative;
}
.title-tab{
	color:#fff;
	padding: 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size:13px;
}
.title-tab.address{
	background-color: #f0f0f0;
	color:#333;
}
.layui-elem-quote{
	font-size:14px;
	padding-top:11px;
	padding-bottom: 11px;
}
.layui-btn-xs{
	font-size: 12px;
}
.layui-colla-title{
	border-left: 5px solid #009688;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
}
.layui-collapse{
	border-width: 0;
	margin-top: 15px;
}
.layui-colla-content{
	border: 1px solid #f2f2f2;
	border-top:none;
}
.layui-elem-field{
	margin-top:15px;
}
.layui-elem-field legend{
	font-size:16px;
}
/*滚动条*/
::-webkit-scrollbar {
	width: 0.68rem;
}
::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #e3e3e3;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #8e8e8e;
}
/*滚动条end*/

/*加载*/
#hi-shadebox{
   position:fixed;
   left:0;
   top:0;
   right:0;
   bottom:0;
   background-color:#fff;
   z-index:9999;
}
.loadding #hi-shadebox{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
}
#hi-shadebox [class*="loader-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
}

#hi-shadebox .loader-round {
    border: .065em solid #ccc;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.38s loader-round linear infinite;
    animation: 0.38s loader-round linear infinite;
    position: relative;
    width: 1em;
    height: 1em;
	font-size: 50px;
	position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
}
.loadding #hi-shadebox .loader-round {
	border: .065em solid #ccc;
	border-bottom-color: transparent;
	border-radius: 50%;
	-webkit-animation: 0.38s loader-round linear infinite;
	animation: 0.38s loader-round linear infinite;
	position: relative;
	width: 0.8em;
	height: 0.8em;
	font-size: 50px;
	position: absolute;
	top: 45%;
	left: 48%;
	transform: translate(-50%,-50%);
}
@-webkit-keyframes loader-round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader-round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.iconjiantou::before{
	color:#555;
}
 @media only screen and (min-width: 600px) {
 .window-container .window-body.with-sidebar .workspace {
 margin-left: 280px;
}
}
@media only screen and (max-width:600px) {
	.iconjiantou::before{
		font-size: 0.6rem;
	}
.window-container .window-body .sidebar {
    width: calc(100% - 60px);
    bottom: 0;
    left: -100%;
}
 .window-container .window-body .workspace {
transition:transform .25s ease
}
.window-container .window-body.with-sidebar .workspace {
transform:translate3d(calc(100% - 60px), 0, 0)
}
#hi-shadebox .loader-round{
	width: 2.5rem;
	height:2.5rem;
}

.loadding #hi-shadebox .loader-round {
	left: 44.5%;
	width: 0.5em;
	height: 0.5em;
}

}
